@page "/"

<PageTitle>Index</PageTitle>

<MudContainer Fixed="true">
    <MudGrid>
        <MudPaper Class="pa-16 ma-2" Elevation="3">
            <MudItem xs="12">
                <h1>Hello, world with CD!</h1>
            </MudItem>
        </MudPaper>
    </MudGrid>
</MudContainer>
